@charset "UTF-8";

/*#region Modern CSS Reset*/
/*
 * Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
 */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests
  * default styling will be removed
  */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*#endregion*/

/*#region Attribution*/
.attribution {
  font-size: 0.6875rem;
  margin-bottom: 0.5rem;
  padding-bottom: 1rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
/*#endregion*/

:root {
  --border-radius-default: 0.5rem;
  --color-neutral-gray-100: #ecf2f8;
  --color-neutral-gray-200: #cfcfcf;
  --color-primary-blue-700: #19202d;
  --color-primary-gray-500: #48556a;
  --color-primary-violet-300: #a775f1;
  --color-primary-violet-500: #733fc8;
  --color-primary-white-100: #ffffff;
  --font-family: 'Barlow Semi Condensed', sans-serif;
  --font-size-text-large: 1.25rem;
  --font-size-text-small: 0.6875rem;
  --font-size-text: 0.8125rem;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
}

body {
  background-color: var(--color-neutral-gray-100);
  font-family: var(--font-family);
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-medium);
}

.border-violet-300 {
  border: 2px solid var(--color-primary-violet-300);
}

.bg-violet-500 {
  background-color: var(--color-primary-violet-500);
}

.bg-gray-500 {
  background-color: var(--color-primary-gray-500);
}

.bg-white-100 {
  background-color: var(--color-primary-white-100);
}

.bg-blue-700 {
  background-color: var(--color-primary-blue-700);
}

.text-white-100 {
  color: var(--color-primary-white-100);
}

.text-gray-100 {
  color: var(--color-neutral-gray-100);
}

.text-gray-500 {
  color: var(--color-primary-gray-500);
}

.testimonial__cards {
  display: grid;
  gap: 1.5rem;
  padding: 1.5rem;
}

.testimonial__card {
  border-radius: var(--border-radius-default);
  box-shadow: 2.5rem 3.75rem 3.13rem -2.94rem rgba(72, 85, 106, 0.25);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, min-content);
  padding: 1.625rem 2rem 2rem;
}

.testimonial__card-header {
  column-gap: 1.06rem;
  row-gap: 0.25rem;
  display: grid;
  grid-template-areas:
    "image name"
    "image status";
  grid-template-columns: 1.75rem 1fr;
  grid-template-rows: repeat(2, auto);
}

.reviewer-name {
  grid-area: name
}
.reviewer-status {
  grid-area: status;
}

.reviewer-image {
  border-radius: 50%;
  grid-area: image;
  height: 1.75rem;
  width: 1.75rem;
}

.reviewer-name {
  font-size: var(--font-size-text);
  line-height: 0.8125rem;
}

.reviewer-status {
  font-size: var(--font-size-text-small);
  line-height: 0.6875rem;
  opacity: 0.5;
}

.review:first-of-type {
  font-size: var(--font-size-text-large);
  font-weight: var(--font-weight-semi-bold);
  line-height: 1.4;
  margin-top: 1.125rem;
}

.review:last-of-type {
  line-height: 1.125rem;
  margin-top: 1rem;
  opacity: 0.7;
}

.testimonial__card:first-child {
  background-image: url(../images/bg-pattern-quotation.svg);
  background-position: top 0 right 1.5rem;
  background-repeat: no-repeat;
}

/* 768px */
@media screen and (min-width: 48em) {
  body {
    display: grid;
    align-content: center;
    justify-content: center;
  }

  .testimonial__cards {
    align-content: center;
    column-gap: 1.875rem;
    grid-template-areas:
      "card1 card1 card2"
      "card3 card4 card4"
      "card5 card5 card5";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    row-gap: 1.5rem;
  }

  .testimonial__card {
    padding: 1.625rem 2rem 1.625rem;
  }

  .testimonial__card:first-child {
    grid-area: card1;
  }

  .testimonial__card:nth-child(2) {
    grid-area: card2;
  }

  .testimonial__card:nth-child(3) {
    grid-area: card3;
  }

  .testimonial__card:nth-child(4) {
    grid-area: card4;
  }

  .testimonial__card:last-child {
    grid-area: card5;
  }
}

/* 992px */
@media screen and (min-width: 62em) {
  .testimonial__card:first-child {
    background-position: top 0 right 5rem;
  }
}

/* 1200px */
@media screen and (min-width: 75em) {
  .testimonial__cards {
    grid-template-areas:
      "card1 card1 card2 card5"
      "card3 card4 card4 card5";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    margin-left: 8.3125rem;
    margin-right: 8.3125rem;
  }

  .review:last-of-type {
    margin-top: 1.5rem;
  }
}

/* 1400px */
@media screen and (min-width: 87.5em) {
  .testimonial__cards {
    margin-left: 10.3125rem;
    margin-right: 10.3125rem;
  }
}
